mixin menu(current,items,prefix)
    - var active_class = ` ${prefix}__link_active`;
    ul(class=`${prefix}__list`)
        each item in items
            li(class=`${prefix}__item`)
                a(href=`${item.link}` class=`${prefix}__link${current == item.name ? active_class : ''}`) #{item.name}

mixin socials(items)
    ul.socials__list
        each item in items
            li.socials__item
                a(href="#" class="socials__link")
                    svg(class=`socials__shape socials__shape_${item}`)
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href=`./images/sprite.svg#${item}`)