extends ../template

block variables
    include ../common/_varibles
    include ../common/_mixins

    -
        var settings = {
            page: 'works',
            title: 'Мои работы',
            subtitle: '',
            show_user_info: true
        }

    -
        var reviews = [
            {
                pic: '#',
                text: "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!",
                name: 'Ковальчук Дмитрий',
                sign: 'основатель Loftschool'
            },
            {
                pic: '#',
                text: 'Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
                name: 'Сабанцев Владимир',
                sign: 'преподаватель'
            }
        ];


block content

    include ../common/_header

    section.maincontent.section
        .maincontent__left
            .triangle.triangle_color_white.maincontent__left

        .maincontent__right
            .triangle.triangle_color_white.maincontent__right

        .block-title.maincontent__title
            .block-title__text
                h1.section-title #{settings.title}
        .slider.maincontent__slider
            .slider__column.slider__column_left
                .slider__project-info
                    h2.slider__project-name.subtitle Сайт школы онлайн Образования
                    .slider__stack-tech HTML , CSS, JAVASCRIPT
                    .a.slider__link.btn.btn_view_round Посмотреть сайт
            .slider__column.slider__column_right
                .slider__container
                    .slider__main-slide
                        img.slider__image(src="#")
                    .slider__nav
                        ul.slider__nav-list
                            li.slider__nav-item
                                .slider__nav-preview
                                    img.slider__nav-image(src="#")
                                .slider__scroll.scroll-arrow
                            li.slider__nav-item
                                .slider__nav-preview
                                    img.slider__nav-image(src="#")
                                .slider__scroll.scroll-arrow.scroll-arrow_invert

    section.reviews.section
        .block-title.reviews__title
            .block-title__text
                h1.section-title #{settings.title}
        .reviews-block
            ul.reviews-block__list
                each item in reviews
                    li.reviews-block__item
                        .reviews-block__avatar
                            img(class="reviews-block__image" src=`${item.pic}`)
                        blockquote.quote.reviews-block__quote
                            p #{item.text}
                            p.quote__name #{item.name}
                            p.quote__sign - #{item.sign}

        form.form.reviews__form
            h2.form__title.subtitle Связаться со мной

            .form__fields
                .form__row
                    label.form__fieldset
                        input.form__input(type="text" name="name" id="uname" placeholder="Имя")
                .form__row
                    label.form__fieldset
                        input.form__input(type="text" name="email" id="umail" placeholder="Email")
                .form__row
                    label.form__fieldset
                        textarea.form__textarea(name="comment" id="comment" placeholder="Ваше сообщение")

            .form__buttons
                button.btn На главную
                button.btn Войти

    include ../common/_footer